<app-location
    route="{{route}}"
    url-space-regex="^[[rootPath]]">
</app-location>

<app-route
    route="{{route}}"
    pattern="[[rootPath]]:page"
    data="{{routeData}}"
    tail="{{subroute}}">
</app-route>

<app-drawer-layout fullbleed force-narrow narrow="{{narrow}}">
  <!-- Drawer content -->
  <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
    <app-toolbar>HyperPress</app-toolbar>
    <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
      <a name="home" href="[[rootPath]]">Home</a>
      <a name="solutions" href="[[rootPath]]solutions/">Solutions</a>
      <a class="submenu" name="design" href="[[rootPath]]solutions/design/">Progressive Web Design</a>
      <a class="submenu" name="pagespeed" href="[[rootPath]]solutions/pagespeed/">PageSpeed Optimization</a>
      <a class="submenu" name="emergency" href="[[rootPath]]solutions/emergency/">WordPress 911</a>
      <a class="submenu" name="security" href="[[rootPath]]solutions/security/">HyperSecurity Services</a>
      <a class="submenu" name="care" href="[[rootPath]]solutions/care/">WordPress Preventive Care</a>
      <a class="submenu" name="migrations" href="[[rootPath]]solutions/migrations/">WordPress Migrations</a>
      <a name="blog" href="[[rootPath]]blog/">Blog</a>
      <a name="contact" href="[[rootPath]]contact/">Contact</a>
    </iron-selector>
  </app-drawer>

  <!-- Main content -->
  <app-header-layout id="ts-appheaderlayout" has-scrolling-region>
    <app-header slot="header" condenses reveals effects="waterfall">
      <app-toolbar class="masthead">
        <paper-icon-button class="masthead-menu-button" icon="ts-icons:menu" drawer-toggle hidden$="{{wideLayout}}"></paper-icon-button>
        <div class="ts-title" main-title>HyperPress
          <span class="paper-font-body2">by THEME SURGEONS</span>
        </div>
        <div class="cta-header" hidden$="{{!wideLayout}}">
          <a class="button button-primary-cta" data-customizer="global-nav-trial-button" href="">Login</a>
        </div>
      </app-toolbar>
      <app-toolbar class="desktop-menu" sticky hidden$="{{!wideLayout}}">
        <nav>
          <iron-selector selected="[[page]]" attr-for-selected="name" class="main-navigation" role="navigation">
            <a name="home" href="[[rootPath]]">Home</a>
            <a name="solutions" href="[[rootPath]]solutions/">Solutions</a>
            <a name="blog" href="[[rootPath]]blog/">Blog</a>
          </iron-selector>
        </nav>
        <div class="flex"></div>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="main-navigation" role="navigation">
          <nav>
            <a name="support" href="/">Support</a>
            <paper-icon-button icon="icons:search"></paper-icon-button>
          </nav>
        </iron-selector>
      </app-toolbar>
    </app-header>
    <iron-pages id="pages" selected="[[page]]" attr-for-selected="name" fallback-selection="view404" role="main">
      <ts-home name="home"></ts-home>
      <ts-solutions name="solutions" route="subroute"></ts-solutions>
      <ts-blog name="blog" route="subroute"></ts-blog>
      <ts-contact name="contact"></ts-contact>
      <ts-view404 name="view404"></ts-view404>
    </iron-pages>
  </app-header-layout>
</app-drawer-layout>
<!-- Add our media query logic for desktop tabs -->
<iron-media-query query="min-width:600px" query-matches="{{wideLayout}}"></iron-media-query>
