@import '../_variables.scss';
:focus {
  outline: -webkit-focus-ring-color auto 0px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px;
}

:host {
  --app-primary-color: #a434b7;
  --app-secondary-color: $primary-text;
  --paper-icon-button-ink-color: #fff;
  --app-drawer-width: 300px;
  display: block;
  .shadow-3dp {
    color: inherit;
    @apply --shadow-elevation-3dp;
  }
}

app-drawer-layout:not([narrow]) [drawer-toggle] {
  display: normal;
}

app-header {
  color: #555;
  background-color: #fff;
}

app-drawer-layout {
  max-width: 1440px;
  margin: 0 auto;
}

.inline {
  float: left;
  margin-left: 14px;
}

.drawer-list {
  margin: 0 20px;
}

.drawer-list a {
  display: block;
  padding: 0 16px;
  text-decoration: none;
  color: var(--app-secondary-color);
  line-height: 44px;
  font-size: 14px;
  font-weight: 500;
}

.drawer-list a.iron-selected {
  color: var(--paper-purple-400);
  font-weight: 500;
}

.masthead {
  background-color: #fff;
  padding-left: 36px;
  .ts-title {
    margin-left: 0px;
  }
}

.desktop-menu {
  height: 46px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e0e0e0;
}

[hidden] {
  display: none !important;
}

.paper-font-body2 {
  font-size: 11px;
}

.main-navigation a {
  display: inline-block;
  margin: 0 20px;
  padding-top: 14px;
  height: 65%;
  font-weight: 400;
}

.main-navigation a,
.main-navigation a:visited {
  text-decoration: none;
  font-size: 14px;
  color: rgba(0, 0, 0, .54);
}

.main-navigation a:hover {
  color: #a434b7;
}

.main-navigation a.iron-selected {
  color: rgba(0, 0, 0, .87);
  font-weight: 500;
  border-bottom: 2px solid $prime-purple
}

nav {
  height: 46px;
}

.button {
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 20px;
  min-width: 100px;
  padding: 0 20px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow .3s, background-color .3s, color .3s, transform .3s;
  will-change: background-color;
}

.cta-header {
  font-size: 14px;
  margin-right: 24px;
}

.button-secondary-cta,
.button-primary-cta {
  line-height: 30px;
  max-height: 30px;
}

.button.button-primary-cta {
  background: transparent;
  border: 2px solid #a434b7;
  color: $prime-purple
}

.button.button-secondary-cta {
  background: #a434b7;
  border: 2px solid #a434b7;
  color: #fff;
}

.button.button-primary-cta:hover,
.button.button-primary-cta:active {
  background: #a434b7;;
}

.button.button-secondary-cta:hover,
.button.button-secondary-cta:active {
  color: #fff;
  @apply --shadow-elevation-6dp;
}

.flex {
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}

@media (max-width: $phone) {
  #drawer app-toolbar {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
    background-color: #a434b7;
    color: #fff;
  }
  .masthead {
    border-bottom: 1px solid $border-grey;
    padding-left: 0px;
  }
  .masthead-menu-button {
    margin-left: 10px;
    margin-right: 10px;
  }
  .drawer-list {
    margin: 0;
  }
  .drawer-icon {
    margin-left: 12px;
  }
  .drawer-list a {
    display: inline-flex;
    color: var(--app-secondary-color);
    vertical-align: middle;
    width: 280px;
  }

  .drawer-list a:hover {
    background-color: #e0e0e0;
  }

  .drawer-list .submenu {
    padding-left:34px;
    width: 250px;
  }

  .cta-header {
    width: 100%;
    box-shadow: 0 -2px 6px 0.24px rgba(0, 0, 0, .24);
  }
  .button-secondary-cta,
  .button-primary-cta {
    border: 0;
    border-radius: 0;
    display: block;
    margin-left: 0;
    min-height: 44px;
    padding-bottom: 0;
    padding-top: 20px;
  }
  .button.button-primary-cta {
    background: #a434b7;
    border: none;
    color: #fff;
  }
  .button.button-secondary-cta {
    background: transparent;
    border: none;
    color: $google-blue;
  }
}