@import '../../_variables.scss';
:host {
  display: block;
  padding: 0px;
  h1 {
    margin: 0 0 5px -3px;
    color:$primary-text-grey;
  }
  h2 {
    margin-bottom: 40px;
  }
  ul {
    margin-bottom:24px;
  }
}

#ts-site.ts-care {
  background: $just-white url('/images/header/ts-care-header.svg') no-repeat;
  background-size: 75%;
  background-position: 180% -10px;
  background-attachment: scroll;
}

#ts-site.ts-care .hero {
  min-height: 260px;
  padding: 14px;
  position: relative;
}

#ts-site.ts-care .hero>div {
  padding: 44px 20px 0 24px;
}

#ts-site.care .hero {
  padding: 20px 64px 30px 96px;
}

.ts-content-body {
  margin-bottom: 24px
}

.ts-content-body h2 {
  margin-bottom: 16px;
}

#ts-site .ts-pad-right-4 {
  padding-right: 32px;
}

#ts-site .ts-showcase.is-split-left .ts-showcase-image {
  right: 0;
}

#ts-site .ts-pad-left-38+.ts-showcase-image,
#ts-site .ts-pad-right-38+.ts-showcase-image {
  max-width: 304px;
}

#ts-site .ts-showcase-image {
  position: relative;
  text-align: center;
  top: 0;
  z-index: 1;
}

p.fine-print:first-child {
  margin-top: 24px;
}

.fine-print {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 12px;
  padding-left: 24px;
  line-height: 14px;
}

@media screen and (max-width: 1024px) {
  .sidebar {
    display:none;
  }
}

@media screen and (min-width: 700px) {
  #ts-site .ts-pad-left-38+.ts-showcase-image,
  #ts-site .ts-pad-right-38+.ts-showcase-image {
    max-width: 304px;
  }
  #ts-site.ts-care {
    background-size: 45%;
    background-position: 96% -10px;
    background-attachment: scroll;
  }
}

@media (max-width: $phone) {
  .phone-img-margin-top {
    margin-top:-24px;
  }
  #ts-site.ts-care {
    background: none;
  }
  #ts-site.ts-care .hero>div {
    padding: 30px 0px 0 10px;
    h1.paper-font-display2 {
      font-size: 34px;
      line-height: 44px;
      padding-right: 0px;
      margin-left: -3px;
    }
    h2.paper-font-title {
      font-size: 16px;
      white-space: normal;
      padding-right: 0px;
    }
  }
  h3 {
    padding-top: 20px;
  }

  .ts-right {
    padding-top: 20px;
  }
  .ts-content-grid-box .button {
    text-align: center;
  }
  .sticky {
    display: none;
  }
}
